<h1></h1>

 <div class="payment">
   <div class="card-wrapper"></div>

   <div class="form-container active center">

    <!-- <form action=  "/visits" method="POST" id="payment-form"> -->
      <%= form_tag("/visits", method: "Post") do %>
        <span class="payment-errors"></span>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 right">
            Card Number
          </label>
          <%= text_field_tag(:number, nil, class: "card-number col-sm-3", size: "20") %>
            <!-- <input type="text" size="20" data-stripe="number" name="number" class="card-number col-sm-3"/> -->
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 right">
            Name
          </label>
          <%= text_field_tag(:name, nil, class: "col-sm-3", size: "4") %>
            <!-- <input type="text" size="4" data-stripe="name" name="name"class="col-sm-3"/> -->
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 right">
            Exp.Date
          </label>
          <%= text_field_tag(:expiry, nil, class: "card-expiry col-sm-3", placeholder: "MM/YY") %>
            <!-- <input placeholder="MM/YY" type="text" name="expiry" class="col-sm-3 card-expiry"> -->
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 right">
            CVC
          </label>
          <%= text_field_tag(:cvc, nil, class: "card-cvc col-sm-3", size: "4") %>
            <!-- <input type="text" size="4" data-stripe="cvc" name="cvc" class="col-sm-3 card-cvc"/> -->
        </div>


        <div class="form-row">
            <label class="col-sm-2 col-sm-offset-3 right">
              Email
            </label>
            <%= email_field(:email,nil, placeholder: "Email", class: "col-sm-3") %>
              <!-- <input placeholder="Email" type="text" class="col-sm-3" name="email"> -->
        </div>

        <div class="form-row">
          <%= submit_tag("Submit Payment", class: "col-sm-6 col-sm-offset-3 btn btn-success btn-lg") %>
          <!-- <button type="submit" class="col-sm-6 col-sm-offset-3 btn btn-success btn-lg">Submit Payment</button> -->
        </div>
      <% end %>
      <!-- </form> -->
   </div>
</div>
<script>
   $('.active form').card({
       container: $('.card-wrapper')
   })
</script>